# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

In [1]:
import pandas as pd

CREO QUE PRIMER DATAFRAME DE 34.1 Datos_Ventas_Tienda.csv

In [2]:
df1 = pd.read_csv('D:\\Cursos\\ds_ml_18dias\\07-dia 7\\34.1 Datos_Ventas_Tienda.csv')
df1

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    1/17/2023  Electrónic         7              200         1400
1     9/1/2023  Electrónic         8              200         1600
2    7/29/2023    Juguetes         3               30           90
3    10/4/2023   Alimentos         4               10           40
4    2/28/2023  Electrónic         6              200         1200
..         ...         ...       ...              ...          ...
995  4/27/2023   Alimentos         2               10           20
996   6/9/2023        Ropa        10               50          500
997  8/21/2023   Alimentos         8               10           80
998  3/28/2023  Electrónic         6              200         1200
999   3/7/2023  Electrónic         4              200          800

[1000 rows x 5 columns]

CREO EL SEGUNDO DATAFRAME DE 34.2 Datos_Ventas_Tienda2.csv

In [3]:
df2 = pd.read_csv('D:\\Cursos\\ds_ml_18dias\\07-dia 7\\34.2 Datos_Ventas_Tienda2.csv')
df2

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    8/25/2023  Electrónic         5              200         1000
1    8/14/2023   Alimentos         9               10           90
2    8/30/2023        Ropa         6               50          300
3    11/9/2023   Alimentos         2               10           20
4   10/26/2023        Ropa         8               50          400
5    12/1/2023    Juguetes         2               30           60
6    5/16/2023  Electrónic         4              200          800
7     2/9/2023      Libros         1               20           20
8     1/9/2023  Electrónic         2              200          400
9     5/3/2023  Electrónic         6              200         1200
10  11/30/2023  Electrónic         5              200         1000
11  10/26/2023  Electrónic         1              200          200
12   8/22/2023    Juguetes         3               30           90
13    6/5/2023  Electrónic         1              200          200
14   10/2/2023    Juguetes         6               30          180
15   1/25/2023  Electrónic         3              200          600
16   5/20/2023        Ropa         4               50          200
17   4/29/2023   Alimentos         8               10           80
18  12/20/2023        Ropa         2               50          100
19   4/10/2023        Ropa         8               50          400
20   5/19/2023    Juguetes         5               30          150
21    2/3/2023  Electrónic         4              200          800
22    3/4/2023        Ropa         5               50          250
23  11/12/2023    Juguetes         7               30          210
24   5/22/2023      Libros         7               20          140
25  11/19/2023        Ropa         4               50          200
26   7/31/2023   Alimentos         6               10           60
27  10/11/2023        Ropa         6               50          300
28   12/9/2023    Juguetes         4               30          120
29    3/6/2023      Libros         9               20          180
30   3/27/2023   Alimentos         1               10           10
31   4/23/2023        Ropa         9               50          450
32   5/26/2023  Electrónic         6              200         1200
33   1/20/2023    Juguetes         5               30          150
34   3/22/2023   Alimentos         9               10           90
35   2/26/2023      Libros         9               20          180
36   7/30/2023    Juguetes         1               30           30
37  11/18/2023        Ropa         3               50          150
38   6/20/2023      Libros         8               20          160
39    6/6/2023      Libros         3               20           60
40    5/2/2023   Alimentos         5               10           50
41    8/7/2023  Electrónic         9              200         1800
42  11/18/2023    Juguetes         8               30          240
43   1/17/2023    Juguetes         8               30          240
44  10/10/2023      Libros         6               20          120
45   9/11/2023    Juguetes        10               30          300
46    1/3/2023    Juguetes        10               30          300
47   11/7/2023   Alimentos         3               10           30
48   8/20/2023  Electrónic         6              200         1200
49   7/21/2023    Juguetes         3               30           90

CONCATENO LOS 2 DATAFRAMES, IGNORANDO LOS INDICES PARA QUE SE CREEN NUEVAMENTE

In [4]:
df_concatenado = pd.concat([df1,df2], ignore_index=True)
df_concatenado

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     1/17/2023  Electrónic         7              200         1400
1      9/1/2023  Electrónic         8              200         1600
2     7/29/2023    Juguetes         3               30           90
3     10/4/2023   Alimentos         4               10           40
4     2/28/2023  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

In [5]:
df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   object
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: int64(3), object(2)
memory usage: 41.1+ KB

CONVIERTO LA COLUMNA FECHA A FORMATO FECHA

In [6]:
df_concatenado['Fecha'] = pd.to_datetime(df_concatenado['Fecha'])
df_concatenado

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    2023-01-17  Electrónic         7              200         1400
1    2023-09-01  Electrónic         8              200         1600
2    2023-07-29    Juguetes         3               30           90
3    2023-10-04   Alimentos         4               10           40
4    2023-02-28  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045 2023-09-11    Juguetes        10               30          300
1046 2023-01-03    Juguetes        10               30          300
1047 2023-11-07   Alimentos         3               10           30
1048 2023-08-20  Electrónic         6              200         1200
1049 2023-07-21    Juguetes         3               30           90

[1050 rows x 5 columns]

MUESTRO INFORMACION DEL DATAFRAME CONCATENADO

In [7]:
df_concatenado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   datetime64[ns]
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 41.1+ KB

PRODUCTO MAS VENDIDO

In [10]:
producto_mas_vendido = df_concatenado.groupby('Producto')['Cantidad'].sum()
producto_mas_vendido = producto_mas_vendido.sort_values(ascending=False)
producto_mas_vendido.head(1)

Producto
Alimentos    1262
Name: Cantidad, dtype: int64

MES DE MAS VENTAS

In [14]:
meses = []
for f in df_concatenado['Fecha']:
    meses.append(f.month)
df_concatenado['Meses'] = meses
df_concatenado

,Fecha,Producto,Cantidad,Precio Unitario,Total Venta,Mes,Meses
0,2023-01-17,Electrónic,7,200,1400,1,1
1,2023-09-01,Electrónic,8,200,1600,9,9
2,2023-07-29,Juguetes,3,30,90,7,7
3,2023-10-04,Alimentos,4,10,40,10,10
4,2023-02-28,Electrónic,6,200,1200,2,2
...,...,...,...,...,...,...,...
1045,2023-09-11,Juguetes,10,30,300,9,9
1046,2023-01-03,Juguetes,10,30,300,1,1
1047,2023-11-07,Alimentos,3,10,30,11,11
1048,2023-08-20,Electrónic,6,200,1200,8,8
1049,2023-07-21,Juguetes,3,30,90,7,7

In [16]:
ventas_por_mes = df_concatenado.groupby("Meses")["Total Venta"].sum().sort_values(ascending=False)
ventas_por_mes.head(1)

Meses
8    45090
Name: Total Venta, dtype: int64

DATOS AGRUPADOS POR CATEGORIA

In [17]:
ventas_por_categoria = df_concatenado.groupby("Producto")["Total Venta"].sum()
ventas_por_categoria

Producto
Alimentos      12620
Electrónic    244000
Juguetes       33390
Libros         20840
Ropa           56400
Name: Total Venta, dtype: int64

CREAR ARCHIVO CSV

In [19]:
df_concatenado.to_csv("Proyecto_dia7.csv")
# se crea en el mismo directorio que esta el programa .ipynb